---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPENWEATHER_API_KEY&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600970318,"sunrise":1600951795,"sunset":1600995212,"temp":81.27,"feels_like":73.4,"pressure":1020,"humidity":15,"dew_point":29.59,"uvi":6.59,"clouds":40,"visibility":10000,"wind_speed":6.93,"wind_deg":190,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1600966800,"temp":81.27,"feels_like":74.79,"pressure":1020,"humidity":15,"dew_point":29.59,"clouds":40,"visibility":10000,"wind_speed":4.45,"wind_deg":190,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1600970400,"temp":82.29,"feels_like":75.78,"pressure":1017,"humidity":14,"dew_point":28.81,"clouds":32,"visibility":10000,"wind_speed":4.34,"wind_deg":157,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1600974000,"temp":84.43,"feels_like":77.27,"pressure":1015,"humidity":13,"dew_point":28.71,"clouds":83,"visibility":10000,"wind_speed":5.46,"wind_deg":136,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds[...]
