---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPENWEATHER_API_KEY&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600967445,"sunrise":1600951795,"sunset":1600995212,"temp":79.3,"feels_like":72.28,"pressure":1016,"humidity":16,"dew_point":29.59,"uvi":6.59,"clouds":6,"visibility":10000,"wind_speed":5.41,"wind_deg":185,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600966800,"temp":79.3,"feels_like":72.28,"pressure":1016,"humidity":16,"dew_point":29.59,"clouds":6,"visibility":10000,"wind_speed":5.41,"wind_deg":185,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600970400,"temp":81.37,"feels_like":74.16,"pressure":1015,"humidity":15,"dew_point":29.66,"clouds":9,"visibility":10000,"wind_speed":5.79,"wind_deg":162,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600974000,"temp":84.56,"feels_like":77.07,"pressure":1014,"humidity":13,"dew_point":28.8,"clouds":13,"visibility":10000,"wind_speed":6.06,"wind_deg":142,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d[...]
